@font-face {
   font-family: "GothamPro";
   src: url("../fonts/GothamPro.woff") format("woff"),
      url("../fonts/GothamPro.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "GothamPro";
   src: url("../fonts/GothaProBol.woff") format("woff"),
      url("../fonts/GothaProBol.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "GothamPro";
   src: url("../fonts/GothaProLig.woff") format("woff"),
      url("../fonts/GothaProLig.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "GothamPro";
   src: url("../fonts/GothaProLigIta.woff") format("woff"),
      url("../fonts/GothaProLigIta.woff2") format("woff2");
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: "OpenSans";
   src: url("../fonts/OpenSans-Bold.woff") format("woff"),
      url("../fonts/OpenSans-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Bold.woff") format("woff"),
      url("../fonts/Roboto-Bold.woff2") format("woff2");
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: "Roboto";
   src: url("../fonts/Roboto-Light.woff") format("woff"),
      url("../fonts/Roboto-Light.woff2") format("woff2");
   font-weight: 300;
   font-style: normal;
}

html,
body {
   height: 100%;
}

body {
   font-family: "GothamPro", Helvetica, sans-serif;
   font-size: 18px;
   line-height: 1.42;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   margin: 0;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

img {
   display: block;
   max-width: 100%;
   max-height: 100%;
}


.wrapper {
   overflow: hidden;
   min-width: 1050px;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper__content {
   flex: 1;
}

.container {
   width: 1050px;
   margin: 0 auto;
}

.header {
   color: #ffffff;
   background-color: #2b2b40;
}

.header__container {
   position: relative;
   min-height: 76px;
}

.logo:hover {
   /* -webkit-transform: scale(1.05);
   -ms-transform: scale(1.05);
   transform: scale(1.05); */
   -webkit-transform: rotate(8deg);
   -ms-transform: rotate(8deg);
   transform: rotate(8deg);
}

.header__logo {
   display: inline-block;
   position: absolute;
   left: 0;
   top: 10px;
}

.contacts {
   position: absolute;
   right: 0;
   top: 10px;
   text-align: right;
}

.contacts__tel {
   font-size: 21px;
   font-weight: bold;
   text-decoration: none;
   color: inherit;
}

.contacts__tel:hover {
   text-decoration: underline;
}

.contacts__schedule {
   margin-bottom: 22px;
   font-family: "OpenSans";
   font-size: 14px;
   font-weight: bold;
   color: #cb2376;
   text-decoration: underline;
}

.contacts__schedule:hover {
   cursor: pointer;
   color: #8f9dcb;
   transition: 0.5s;
}

.contacts__schedule:hover+.contacts__info {
   visibility: visible;
}

.contacts__info {
   visibility: hidden;
   display: inline-block;
   border-radius: 4px;
   padding: 13px 11px;
   text-align: left;
   font-size: 14px;
   line-height: 1.6;
   box-shadow: 0 0 10px 0 rgba(42, 61, 115, 0.55);
   background-color: #ffffff;
}


.contacts__time {
   font-weight: 700;
   color: #cb2376;
}

.contacts__break {
   font-weight: 300;
   color: #262424;
}


/* Банер */

.baner {
   margin-bottom: 26px;
}



/* sidebar */

.sidebar,
.main {
   display: inline-block;
   vertical-align: top;
}

.sidebar {
   margin-right: 57px;
}

.nav__link {
   font-size: 12px;
   letter-spacing: 1.2px;
   line-height: 4.5em;
   color: #cb2376;
   font-weight: bold;
   text-decoration: none;
   position: relative;
   margin-left: 37px;
}

.nav__link:before {
   content: "";
   width: 20px;
   height: 18px;
   display: block;
   position: absolute;
   top: -4px;
   left: -38px;
}

.nav__icon-main:before {
   background: url(../image/main_icon.png) center center no-repeat;
}

.nav__icon-feed:before {
   background: url(../image/feed_icon.png) center center no-repeat;
}

.nav__icon-wallet:before {
   background: url(../image/wallet_icon.png) center center no-repeat;
}


/* по ховеру */

.nav__link:hover {
   color: #000000;
}

.nav__icon-main:hover:before {
   background: url(../image/main_icon_black.png) center center no-repeat;
}

.nav__icon-feed:hover:before {
   background: url(../image/feed_icon_black.png) center center no-repeat;
}

.nav__icon-wallet:hover:before {
   background: url(../image/wallet_icon_black.png) center center no-repeat;
}


/* по активу */

.nav__item--active .nav__link {
   cursor: initial;
   color: #000000;
}

.nav__item--active .nav__icon-main:before {
   background: url(../image/main_icon_black.png) center center no-repeat;
}

.nav__item--active .nav__icon-feed:before {
   background: url(../image/feed_icon_black.png) center center no-repeat;
}

.nav__item--active .nav__icon-wallet:before {
   background: url(../image/wallet_icon_black.png) center center no-repeat;
}


/* main */

.main {
   width: 880px;
}


/* Особенности */

.title {
   font-size: 49px;
   font-weight: bold;
   color: #262424;
   margin: 0px 0 63px;
}

.features__item {
   display: inline-block;
   vertical-align: top;
   width: 217px;
   margin: 0 24px 70px;
   text-align: center;
   color: #262626;
}

.features__icon {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background-color: #2b2b40;
   position: relative;
   margin: auto;
}

.features__icon:after {
   content: "";
   display: block;
   width: 32px;
   height: 32px;
   position: absolute;
   top: 17px;
   left: 18px;
}

.features__icon-flower:after {
   background: url(../image/flower.png) center center no-repeat;
}

.features__icon-star:after {
   background: url(../image/star.png) center center no-repeat;
}

.features__icon-palette:after {
   background: url(../image/palette.png) center center no-repeat;
}

.features__name {
   font-size: 11px;
   font-weight: bold;
   line-height: 4.68;
   letter-spacing: 2.64px;
   text-transform: uppercase;
   margin-bottom: 0;
}

.features__text,
.features__list {
   font-size: 18px;
   line-height: 1.67;
   margin: 0;
}

.features__desc-item {
   text-align: left;
}

.features__item li::before {
   content: '\2022';
   font-size: 1.1em;
   color: #b03664;
   margin-right: 25px;
}


/* Новости */

.title__news {
   margin-bottom: 43px;
}

.news__list {
   margin-bottom: 26px;
}

.news__item {
   padding: 20px 0;
   border-bottom: #f4f4f4 2px solid;
}

.news__item:last-child {
   border-bottom: none;
}

.news__img,
.news__desc {
   display: inline-block;
   vertical-align: top;
}

.news__img {
   width: 160px;
   height: 160px;
   overflow: hidden;
   border-radius: 100%;
   margin-right: 20px;
}

.news__desc {
   width: 694px;
   font-family: "Roboto";
   font-weight: 300;
}

.news__date {
   font-size: 14px;
   line-height: 1.5;
   color: #656464;
   margin-bottom: 5px;
}

.news__name {
   line-height: 1.17;
   margin: 0 0 13px;
   color: #262424;
}

.news__text {
   margin: 0;
   line-height: 1.65;
   color: #262424;
}



/* pagination */

.pagination {
   text-align: center;
   margin-bottom: 70px;
}

.pagination__text,
.pagination__buttons,
.pagination__arrow,
.pagination__list,
.pagination__item {
   display: inline-block;
   vertical-align: baseline;
}

.pagination__text {
   font-family: "Roboto";
   font-size: 14px;
   font-weight: 300;
   color: #656464;
   margin-right: 29px;
}

.pagination__arrow,
.pagination__link {
   font-family: "Roboto";
   font-size: 14px;
   font-weight: 700;
   color: #262424;
   text-decoration: none;
}

.pagination__arrow--gray {
   opacity: 0.3;
   cursor: initial;
}

.pagination__numb,
.pagination__arrow {
   width: 25px;
   height: 25px;
}

.pagination__list {
   font-size: 0;
   word-spacing: 0;
}

.pagination__numb:hover {
   color: #cb2376;
}

.pagination__item--active .pagination__numb {
   border-radius: 4px;
   background-color: #2b2b40;
   color: #ca2376;
   cursor: initial;
}

.pagination__item--active .pagination__link {
   cursor: initial;
}

.pagination__link {
   color: inherit;
   line-height: 1.8;
}


/* Footer */

.footer {
   min-height: 77px;
   background: #2b2b40;
   color: #ffffff;
   vertical-align: middle;
}

.signature,
.footer__logo,
.social {
   display: inline-block;
   vertical-align: top;
}

.signature {
   width: 266px;
   font-size: 14px;
   font-weight: 300;
   line-height: 1.29;
   margin: 11px 216px 0 0;
}

.signature__link {
   font-weight: 700;
   color: inherit;
}

.signature__link:hover {
   text-decoration: none;
}

.footer__logo {
   margin: 13px 286px 0 0;
}

.social__text {
   font-size: 14px;
   font-weight: bold;
   margin: 13px 0 9px;
}

.social__item {
   display: inline-block;
   vertical-align: top;
   width: 20px;
   height: 20px;
   background-color: #d3d3d7;
   border-radius: 50%;
   margin-right: 10px;
   position: relative;
}

.social__item:hover {
   cursor: pointer;
   background-color: #cb2376;
}

.social__link {
   display: block;
   width: 12px;
   height: 13px;
   position: absolute;
   top: 4px;
   left: 4px;
}

.social__link-vk {
   background: url(../image/vk.png) center center no-repeat;
}

.social__link-fb {
   background: url(../image/fb.png) center center no-repeat;
}

.social__link-twitter {
   background: url(../image/twitter.png) center center no-repeat;
}

.social__link-mail {
   background: url(../image/mail.png) center center no-repeat;
}