.contacts {
   position: relative;
   text-align: right;
   font-style: normal;
}

.contacts__tel {
   font-size: 21px;
   font-weight: bold;
   text-decoration: none;
   color: inherit;
}

.contacts__tel:hover {
   text-decoration: underline;
}

.contacts__schedule {
   font-family: "OpenSans";
   font-size: 14px;
   font-weight: bold;
   color: #cb2376;
   text-decoration: underline;
}

.contacts__schedule:hover {
   cursor: pointer;
   color: #8f9dcb;
   transition: 0.3s;
}

.contacts__schedule:hover+.contacts__info {
   visibility: visible;
}

.contacts__info {
   position: absolute;
   top: 62px;
   right: 0;
   visibility: hidden;
   /* display: flex;
   flex-direction: column; */
   border-radius: 4px;
   padding: 13px 11px;
   text-align: left;
   font-size: 14px;
   line-height: 1.6;
   box-shadow: 0 0 10px 0 rgba(42, 61, 115, 0.55);
   background-color: #ffffff;
}


.contacts__time {
   font-weight: 700;
   color: #cb2376;
}

.contacts__break {
   font-weight: 300;
   color: #262424;
}