.contacts {
   position: relative;
   text-align: right;
   font-style: normal;
}

.contacts__tel {
   font-size: 21px;
   font-weight: bold;
   text-decoration: none;
   color: inherit;
}

.contacts__tel:hover {
   text-decoration: underline;
}

.contacts__schedule {
   font-family: "OpenSans";
   font-size: 14px;
   font-weight: bold;
   color: #cb2376;
   text-decoration: underline;
   transition: 0.3s;
}

.contacts__schedule:hover {
   cursor: pointer;
   color: #8f9dcb;
}

.contacts__schedule:hover .contacts__info {
   right: 0;
   opacity: 1;
   transition: opacity 0.3s;
}

.contacts__info {
   position: absolute;
   top: 64px;
   right: -1000px;
   opacity: 0;
   border-radius: 4px;
   padding: 13px 11px;
   text-align: left;
   font-size: 14px;
   line-height: 1.6;
   box-shadow: 3px 4px 5px rgba(42, 61, 115, 0.55);
   background-color: #ffffff;
   font-family: "GothamPro", Helvetica, sans-serif;
}

.contacts__info:before {
   content: '';
   border: 9px solid transparent;
   border-bottom-color: #ffffff;
   position: absolute;
   bottom: 70px;
   right: 11px;
}


.contacts__time {
   font-weight: 700;
   color: #cb2376;
}

.contacts__break {
   font-weight: 300;
   color: #262424;
}