/* Особенности */


.features__item {
   display: inline-block;
   vertical-align: top;
   width: 217px;
   margin: 0 24px 70px;
   text-align: center;
   color: #262626;
}

.features__icon {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background-color: #2b2b40;
   position: relative;
   margin: auto;
}

.features__icon:after {
   content: "";
   display: block;
   width: 32px;
   height: 32px;
   position: absolute;
   top: 17px;
   left: 18px;
}

.features__icon-flower:after {
   background: url(../../image/flower.png) center center no-repeat;
}

.features__icon-star:after {
   background: url(../../image/star.png) center center no-repeat;
}

.features__icon-palette:after {
   background: url(../../image/palette.png) center center no-repeat;
}

.features__name {
   font-size: 11px;
   font-weight: bold;
   line-height: 4.68;
   letter-spacing: 2.64px;
   text-transform: uppercase;
   margin-bottom: 0;
}

.features__text,
.features__list {
   font-size: 18px;
   line-height: 1.67;
   margin: 0;
}

.features__desc-item {
   text-align: left;
}

.features__item li::before {
   content: '\2022';
   font-size: 1.1em;
   color: #b03664;
   margin-right: 25px;
}