.wrapper--intro {
   background-image: url('../../image/intro.jpg');
   background-position: center center;
   background-size: cover;
   justify-content: center;
   align-items: center;
   position: relative;
}

.wrapper--intro:before {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: #ec1e79;
   opacity: 0.12;
}

.intro {
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 10;
   animation: jackInTheBox 0.6s 1s both;
}

@keyframes jackInTheBox {
   0% {
      opacity: 0;
      -webkit-transform: scale(.1) rotate(30deg);
      transform: scale(.1) rotate(30deg);
      -webkit-transform-origin: center bottom;
      transform-origin: center bottom
   }

   50% {
      -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg)
   }

   70% {
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg)
   }

   to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1)
   }
}


.intro__logo {
   margin-bottom: 29px;
}

.intro__button {
   text-decoration: none;
   color: #ec1e79;

}

.intro__button-text {
   border: solid 3px #ec1e79;
   padding: 11px 19px;
   font-size: 12px;
   letter-spacing: 1.2px;
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
   transition: 0.3s;
}

.intro__button-text:hover {
   background-color: #ec1e79;
   color: #fff;
}