/* Новости */


.title__news {
   margin-bottom: 43px;
}

.news__list {
   margin-bottom: 26px;
}

.news__item {
   padding: 20px 0;
   border-bottom: #f4f4f4 2px solid;
}

.news__item:last-child {
   border-bottom: none;
}

.news__img,
.news__desc {
   display: inline-block;
   vertical-align: top;
}

.news__img {
   width: 160px;
   height: 160px;
   overflow: hidden;
   border-radius: 100%;
   margin-right: 20px;
}

.news__desc {
   width: 694px;
   font-family: "Roboto";
   font-weight: 300;
}

.news__date {
   font-size: 14px;
   line-height: 1.5;
   color: #656464;
   margin-bottom: 5px;
}

.news__name {
   line-height: 1.17;
   margin: 0 0 13px;
   color: #262424;
}

.news__text {
   margin: 0;
   line-height: 1.65;
   color: #262424;
}