.partners {
   margin-bottom: 42px;
}

.partners__title {
   line-height: 1.25;
   margin-bottom: 36px;
}

.partners__list {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}

.partners__item {
   flex: 1 0 260px;
   margin-bottom: 52px;
   filter: saturate(0%);
   transition: 0.3s;
}

.partners__item:hover {
   filter: none;
}