.signature {
   display: inline-block;
   vertical-align: top;
   width: 266px;
   font-size: 14px;
   font-weight: 300;
   line-height: 1.29;
   margin: 11px 216px 0 0;
}

.signature__link {
   font-weight: 700;
   color: inherit;
}

.signature__link:hover {
   text-decoration: none;
}